.bgimage {
    background: url("../img/graphicdesign_bg.jpg") no-repeat 0 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.colored {
    color: #7100b8;
}

.card {
    background-color: #141414;
    margin: 0 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 1px 5px #080808;
}

.card p {
    color: white;
    margin: 0;
    list-style-type: lower-greek;
    list-style-position: outside;
    border-right: 5px solid #7100b8;
    padding-left: 20px;
}

.card h3 {
    margin: 5px 0 5px 0;
    color: #7100b8;
    text-transform: lowercase;
    letter-spacing: 2px;
}

.card img {
    display: block;
    max-width: 400px;
    width: 100%;
    margin: 0 auto 0 auto;
}

.card a {
    color: #7100b8;
}
