.title {
  height: 300px;
  display: grid;
  place-items: center;

  h1 {
    margin: 0;
    padding: 0;
    font-size: 55px;
  }
}

.content {
  display: flex;
  justify-content: center;
  margin: 40px;


  .about-me {
    display: grid;
    grid-template-columns: minmax(auto, 1200px);
    justify-items: center;

    .profile-picture {
      display: grid;
      width: 50%;
      max-width: 300px;
      margin: 10px;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }

    .icon {
      margin: 10px;
      width: 50px;
    }
  }

  .coding {
    display: grid;
    grid-gap: 20px;

    .card {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      background-color: #0f0f0f;
      box-shadow: 0 4px 10px #0a0a0a;
      border-radius: 20px;
      padding: 10px;

      .image {
        flex: 0 1 500px;
        margin: 10px;

        a {
          text-decoration: none;
          margin: 0 auto;

          img {
            width: 100%;
          }
        }
      }

      .description {
        flex: 10 1 700px;
        margin: 10px;

        h3 {
          margin: 0 0 5px 0;
          color: #7100b8;
        }

        p {
          color: #ffffff;
        }
      }
    }
  }
}