.title {
  height: 300px;
  display: grid;
  place-items: center;

  h1 {
    margin: 0;
    padding: 0;
    font-size: 55px;
    text-align: center;
  }
}

.content {
  display: flex;
  justify-content: center;
  margin: 40px;


  .about-me {
    display: grid;
    grid-template-columns: minmax(auto, 1200px);
    justify-items: center;

    .profile-picture {
      display: grid;
      width: 50%;
      max-width: 300px;
      margin: 10px;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }

    .icon {
      margin: 10px;
      width: 50px;
    }
  }

  .cards {
    display: grid;
    grid-gap: 20px;

    .card {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      background-color: #0f0f0f;
      box-shadow: 0 4px 10px #0a0a0a;
      border-radius: 20px;
      padding: 10px;

      .image {
        flex: 0 1 500px;
        margin: 10px;

        a {
          text-decoration: none;
          margin: 0 auto;

          img {
            width: 100%;
          }
        }
      }

      .description {
        flex: 10 1 700px;
        margin: 10px;

        a {
          text-decoration: none;
        }

        h3 {
          margin: 0 0 5px 0;
          color: #7100b8;
        }

        p {
          color: #ffffff;
        }
      }
    }
  }

  .album {
    flex: 1;
    display: grid;
    grid-gap: 7px;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    justify-content: center;

    .tile {
      max-width: 400px;
      display: flex;
      position: relative;
      overflow: hidden;
      border-radius: 1%;

      a {
        display: flex;
      }

      img {
        width: 100%;
        transition: .5s ease;
      }

      .textoverlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
      }

      &:hover {
        .textoverlay {
          opacity: 1;
          transform: translateY(-10px);
        }

        img {
          transform: scale(1.07);
        }
      }

      .description {
        color: #ffffff;
        font-size: 20px;
        text-shadow: 2px 2px 3px black;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }

      .album-description {
        font-size: 30px;
      }
    }
  }

  .generative-design {
    max-width: 1200px;
    min-width: 0;

    .button-navigation {
      display: flex;
      flex-wrap: wrap;
      min-width: 0;
    }

    .button {
      margin: 2px;
      padding: 16px 32px;
      border: 2px solid #008CBA;
      border-radius: 10px;
      background-color: #1a1a1a;
      color: #008CBA;
      font-weight: bold;
      font-family: monospace;
      transition-duration: 0.4s;
      cursor: pointer;

      &:hover {
        background-color: #008CBA;
        color: #ffffff;
      }

      &:disabled {
        border-color: #e0e0e0;
        background-color: #5f5f5f;
        color: #e0e0e0;
        cursor: default;
      }
    }

    .button-small {
      padding: 4px 6px;
    }

    #sketchframe {
      height: 500px;
      width: 100%;
      border: none;
      overflow: hidden;
      margin: 10px 0;
    }

    h3 {
      font-size: 30px;
      margin: 20px 0 0 0;
      color: #008CBA;
    }
  }
}