#showcase {
  text-align: center;
  margin-bottom: 50px;
}

.button {
  margin: 2px;
  padding: 16px 32px;
  border: 2px solid #008CBA;
  border-radius: 4px;
  background-color: #1a1a1a;
  color: #008CBA;
  font-weight: bold;
  font-family: monospace;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:disabled {
  margin: 2px;
  padding: 12px;
  border: 2px solid #e0e0e0;
  border-radius: 4px;
  background-color: #5f5f5f;
  color: #e0e0e0;
  font-weight: bold;
  font-family: monospace;
}

.button:hover {
  background-color: #008CBA;
  color: white;
}

#fullscreen {
  margin: 0px;
  padding: 4px 6px;
  border: 1px solid #008CBA;
  border-radius: 4px;
  background-color: #1a1a1a;
  color: #008CBA;
  font-weight: bold;
  font-family: monospace;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

#fullscreen:hover {
  background-color: #008CBA;
  color: white;
}

#sketchframe {
  height: 300px;
  width: 95%;
  border: none;
  overflow: hidden;
  margin: 10px 0px;
}

#title {
  text-align: left;
  font-size: 20px;
  font-family: monospace;
  margin: 0 0 10px 40px;
  color: #008CBA;
}

#description {
  text-align: left;
  margin: 0 40px 0 40px;
  color: white;
}

pre {
  text-align: left;
  margin: 0 20px 0 20px;
}
