@font-face {
  font-family: "Open Sans Extrabold";
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Source Code Pro Bold";
  src: url("../fonts/SourceCodePro-Bold.ttf") format("truetype");
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  font: 20px "Open Sans", Helvetica, sans-serif;
  color: #ffffff;

  p {
    font: 20px "Open Sans", Helvetica, sans-serif;
  }

  h3 {
    color: #ffffff;
  }

  header {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    font: 20px "Open Sans Extrabold", Helvetica, sans-serif;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      display: inline;
      margin: 0 15px 0 15px;

      a {
        text-decoration: none;
        color: #ffffff;

        &:hover {
          color: #c0c0c0;
        }
      }
    }
  }
}