.img-container {
    float: left;
    width: 33.33%;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

.textoverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.img-container:hover .textoverlay {
    opacity: 1;
    transform: translateY(-10px);
}

.description {
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 3px black;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
