.content {
  margin: 30px 0 20px 0;
}

img {
  float: left;
  width: 300px;
  height: 300px;
  margin: 0 20px 0 20px;
}

h1 {
  color: #960a0a;
  margin-right: 120px;
  margin-left: 20px;
}

p {
  color: white;
  margin: 0 20px 20px 20px;
}

.intext {
  color: #960a0a;
}

.intext:visited {
  color: #960a0a;
}
